argparse
torch
opencv-python
opencv-python-headless  # Required for environments without display
numpy
tensorflow
flask
Pillow
Werkzeug
requests

ultralytics
subprocess.run
glob2
flask-cors  # Optional, if you need CORS support

